.gallery-discription{
    text-align: center;
    margin: auto;
}
.gallery_area button{
    border: none;
    background-color:transparent;
}
.gallery_area p{
    display: block;
    text-align: center;
    margin: auto;
    width: 650px;
    max-width: fit-content;
    margin-bottom: 2rem;
}
.gallery_area h2{
    font-weight: 800;
    color: #2d373c;
    font-family: "Barlow", sans-serif;
}
.gallery_area .gallery-item{
    margin-top: 24px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.gallary-item:hover .gallery-item-overlay{
    opacity: 1;
}
.gallery_area .gallery-item .gallery-item-overlay{
    position: absolute;
    inset: 0;
    background: rgba(206,20,70,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .25s;
    text-decoration: none;
}
.gallery_area .gallery-item:hover .gallery-item-overlay{
    opacity: 1;
}
.gallery_area .gallery-item .gallery-item-overlay:hover{
    color: #0a58ca;
}
.gallery_area .gallery-item .gallery-item-overlay i{
    font-size: 50px;
    color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .35s;
    transition: all .35s;
}
.gallery_area .gallery-item:hover .gallery-item-overlay i{
    transform: scale(1);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 340px) {
    .gallery-item{
        width: 290px;
    }
    .gallery-item img{
        width: 100%;
    }
    .gallery_area .gallery-item .gallery-item-overlay{
        width: 290px;
        align-items: center;
    }
}
@media only screen and (min-device-width : 340px) and (max-device-width : 360px) {
    .gallery-item{
        width: 310px;
    }
    .gallery-item img{
        width: 100%;
    }
    .gallery_area .gallery-item .gallery-item-overlay{
        width: 310px;
        align-items: center;
        margin: auto;
    }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 365px) {
    .gallery-item{
        width: 330px;
    }
    .gallery-item img{
        width: 100%;
    }
    .gallery_area .gallery-item .gallery-item-overlay{
        width: 330px;
        align-items: center;
        margin: auto;
    }
}
@media only screen and (min-device-width : 365px) and (max-device-width : 375px) {
    .gallery-item{
        width: 340px;
    }
    .gallery-item img{
        width: 100%;
    }
    .gallery_area .gallery-item .gallery-item-overlay{
        width: 340px;
        align-items: center;
        margin: auto;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 390px) {
    .gallery-item{
        width: 345px;
    }
    .gallery-item img{
        width: 100%;
    }
    .gallery_area .gallery-item .gallery-item-overlay{
        width: 345px;
        align-items: center;
        margin: auto;
    }
}

@media only screen and (min-device-width : 408px) and (max-device-width : 480px) {
    
    .gallery_area .gallery-item .gallery-item-overlay{
        width: 380px;
        align-items: center;
        margin: auto;
    }
}