.review-conainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}
.review-conainer .review-form{
    display: block;
    text-align: center;
    margin: auto;
}
.review-conainer input{
    width: 100%;
    padding: .6rem 0;
    margin: .5rem 0;
}
.review-conainer .icon-color{
    font-size: 1.7rem;
    color: #fede41;
}