.tour-footer{
padding: 1.5rem 0;
background: #162b32;
color: #fff;
}
.tour-footer .tour-copyright .tour-info{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.footer-menu a{
    text-decoration: none;
    padding-right: .4rem;
    color: #fff;
}
.footer-menu a:last-child::before{
    content:'| ';
    color: #FF4838;
}
@media screen and (min-width: 320px) and (max-width: 600px){
    .tour-footer .tour-copyright .tour-info{
        display: inline-block;
        text-align: center;
        margin: auto;
    }
}