.package-iteam{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding-left: 0;
}

.package-iteam li{
    font-size: 18px;
    list-style: none;
}
.package-iteam li svg{
   font-size: 30px;
   color: #ff4838;
}
.package-iteam h5{
    font-size: 16px;
}
.package-iteam span{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.user-age{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adult{
    width:40%;
    margin-bottom: 1rem;
}
.teen{
    width: 40%;
}
.user-form input, textarea{
    width: 100%;
    padding: .2rem 0;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
}

.user-details h3{
    background-color: #162B32;
    color: #fff;
    padding: .7rem 0;
    border-radius: .7rem;
    font-size: 24px;
}
.user-details img{
    height: 40px;
    color: #ff4838;
}

.user-form textarea{
    height: 100px;
}
.user-form textarea::placeholder{
    color: #A3A3A3;
    font-size: 1em;
    padding: 0 .4rem;
}
.user-form input::placeholder{
    color: #A3A3A3;
    font-size: 1em;
    padding: 0 .4rem;
}
.packages-details img{
    width: 27px;
    background-color: #fff;
}
.packages-details h3{
    
}
.packages-details{
    display: block;
    text-align: left;
}