.navbar{
    /* height: 75px; */
}
.navbar button{
  border: none;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(14, 13, 13)
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active{
    color: #FF4838;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #FF4838;
}
.hamburger-react{
    color: #FF4838;
}
.search .nav-item{
    list-style: none;
};

.search a{
    text-decoration: none;
    width: 100px;
    height: 100px;
}

.navbar {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .nav-links {
    color: rgba(57, 52, 52, 0.8);
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
    font-size: 1rem;
  }
  .nav-links:hover{
    color: #FF4838;
    background-image: linear-gradient(90deg, #7acbdf 0%, #fd1d1d 50%, #fcb045 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  .main-menu li{
    margin-left: 0;
  }
  
  .main-menu li{
    list-style: none;
  }
  .main-menu li a{
    text-decoration: none;
    padding: 0 .7rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: 0.7s ease, 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #FF4838;
  }
  
  .nav-item.active {
    color: #FF4838;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }

   
  @media screen and (max-width: 992px) {
    nav-menu {
      display: flex;
      flex-direction: column;
      width: 440px;
      max-width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 0;
      left: -70%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 500px) {
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 410px;
      max-width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 0;
      left: -90%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #FF4838;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
  .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #FF4838;
    }
    .user-menu{
      display: flex;
      margin-right: 2.9rem;
    }
  }

  .user-menu ul li p{
    /* display: block;
    height: 100%; */
    color: #ffffff;
    border-top: 1px solid #ffffff;
    margin-left: 1px;
    white-space: nowrap;
    background: #2C5463;
    padding: 1rem 1.6rem;
  }
  
  .user-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .user-menu ul{
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-menu ul li{
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.user-menu li ul{
    display: none;
}

.user-menu ul li a{
    margin-top: -1rem;
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    height: 100%;
    background: #2C5463;
    margin-left: 1px;
    white-space: nowrap;
    padding: 1rem 1.5rem;
}

.user-menu ul li a:hover 
{
    background: #617F8A;
}
.user-menu li:hover ul 
{
    display: block;
    position: absolute;
}

.user-menu li:hover li
{
    float: none;
    font-size: 11px;
}

.user-menu li:hover a 
{
    background: #617F8A;
}

.user-menu li:hover li a:hover 
{
    background: #95A9B1;
}