.navbar{
    padding: 0;
    height: 75px;
}
.navbar button{
border: none;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(14, 13, 13)
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active{
    color: #FF4838;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #FF4838;
}
.hamburger-react{
    color: #FF4838;
}
.form-control{
    border: 1px solid #FF4838;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid #FF4838;
}
