.footer_section{
    padding-top: 2.5rem;
    background: #2d373c;
    color: #fff;
    background-image: url(https://demo-egenslab.b-cdn.net/html/tourxpro/assets/images/banner/footer-bg.png);
    background-size: cover;
      background-repeat: no-repeat;
}
.social_media{

}
.social_media ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social_media ul li{
    list-style: none;
}
.social_media ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border: 1px solid #FF4838;
    background-color: #FF4838;
    color: #fff;
    border-radius: 2rem;
    transition: all ease-out .2s;
}
.social_media ul li a:hover{
    border: 1px solid #FF4838;
    color:#FF4838;
    background: #2d373c;
}
.social_media ul li a i{
    font-size: 19px;
}
.quick_link{

}
.quick_link ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quick_link ul li{
    height: 50px;
    list-style: none;
    transition: all ease-in .1s;
}
.quick_link ul li:hover{
    list-style:disc;
    color: #FF4838;
    margin-left: .3rem;
}
.quick_link ul li a{
    text-decoration: none;
    color: #fff;
}
.contact{
    margin: .5rem 0;
}
.contact-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact div p{
    font-size: 19px;
}
@media screen and (min-width: 320px) and (max-width: 680px){
    .contact{
        margin: .7rem 0;
    }
    .contact .contact-info{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 10px;
    }
}