/* .hero-area{
    background: url(https://demo.egenslab.com/html/tourxpro/demo/assets/images/banner/hero-two-bg.png),linear-gradient(#f3f4f5 100%,#f3f4f5 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.swiper {
    width: 100%;
    height: 600px;
    max-height: 100%;
  }
.hero-content{
    text-align: left;
}
.hero-content h5{
    font-weight: 500;
    font-size: 20px;
    color: #2d373c;
}
.hero-content h5 img{
    width: 27px;
    background-color: #fff;
}
.hero-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 65px;
    color: #2d373c;
}
.hero-title span{
    color: #ff4838;
}
.featured-price{
    font-weight: 700;
    font-size: 30px;
    color: #2d373c;
    padding-top: 10px;
}
.featured-price span{
    color: #ff4838;
    font-size: 22px;
}
.hero-content p{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;
    color: #666;
    padding-top: 16px;
    font-weight: normal;
} */
