.hero-wrapper{
    width: 100%;
    height: 95vh;
    overflow: hidden;
}
.blr{

}
.slider-image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.slider-image img{
    position: relative;
    width: 100%;
    height: 100%;
}
.slider-details{
    position: absolute;
    top: 5rem;
    right: 0;
    opacity: 1;
    width: 45%;
    height: 95vh;
    color: #fff;
    padding: 3rem;
    background: rgba(22,43,50,.9);
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
}
.slider-details h2{
    text-align: left;
    color: #ff4838;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: .05em;
}
.slider-details h2 span{
    display: block;
    -webkit-text-stroke: 2px #ff4838;
    -webkit-text-fill-color: transparent;
}
.slider-details p{
    text-align: left;
    padding: 1rem 0;
    letter-spacing: .02em;
}
.move-btn{
    position: absolute;
    right: 12%;
    bottom: 1rem;
}
.move-btn button{
    background:transparent;
    border: none;
}
.arrow{
    font-weight: 600;
    font-size: 16px;
    color: #b8b8b8;
    transition: all ease-in .2s;
}
.left-arrow{
    padding-right: .7rem;
    margin-right: 2rem;
}
.left-arrow svg{
    margin-right: .5rem;
}
.right-arrow svg{
    margin-left: .5rem;
}

.arrow:hover{
    opacity: 1;
    color: #fff;
    cursor: pointer;
}
.right-arrow{
    margin-left: .5rem;
}
.slider-btn{
    text-align: left;
    margin-top: 2rem;
}

.slider-btn .view-btn{
    background: #ff4838;
    border: 2px solid #ff4838;
    padding: 12px 26px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all ease .2s;
}
.slider-btn .view-btn a{
    text-decoration: none;
    color: #fff;
}
.slider-btn .view-btn:hover a{
    color: #ff4838;
}
.slider-btn .view-btn:hover{
    background: transparent;
    color: #ff4838;
}
.slider-btn .book-btn{
    background:transparent;
    padding: 12px 26px;
    border: 1px solid #ff4838;
    margin-left: 1.5rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}
.slider-btn .book-btn a{
    text-decoration: none;
    color: #ff4838;
}
.slider-btn .book-btn:hover a{
    color: #fff;
}
.slider-btn .book-btn:hover{
    background: #ff4838;
}
@media screen and (max-width: 1600px) and (min-width: 992px){
   
  }
@media screen and (max-width: 662px){
    .hero-wrapper{
        width: 100%;
        overflow: hidden;
    }
    .slider-details {
        width: 100%;
        height: 530px;
    }
    .slider-image img{
        width: 100%;
        height: 530px;
    }
    .slider-details h2 {
        text-align: left;
        color: #ff4838;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: .04em;
    }
    .slider-btn{
        margin: 6.5rem auto;
        text-align: center;
    }
    .move-btn{
        position: absolute;
        right: 12%;
        bottom: 8rem;
    }
    .slider-btn .view-btn{
        padding: 16px 30px;
        font-size: .9rem;
    }
    .slider-btn .book-btn{
        padding: 16px 30px;
        font-size: .9rem;
    }
  }