.add-pacakges-section{
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    margin-top: 2rem;
}
.add-pacakges-section form{
   width: 700px;
   text-align: center;
   margin: auto;
}
.add-pacakges-section p{
    padding: 0;
}

.add-pacakges-section p{
    color: #e71f1f;
}
.add-pacakges-section label{
    display: block;
    text-align: left;
    margin: .2rem 0;
}
.add-pacakges-section input{
    display: block;
    width: 100%;
    padding: .3rem 0;
    margin: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.add-pacakges-section button{
    padding: 1rem 0;
    width: 100%;
    background-color: #e71f1f;
    color: #fff;
    border: none;
    transition: all ease-in .2s;
}
.add-pacakges-section button i{
    margin-left: .5rem;
}

.add-pacakges-section button:hover{
    border: 1px solid #e71f1f;
    color: #000;
    background: #fff;
}